<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Todo Funciona Correctamente</title>
	<style>
		body {
			font-family: Arial, sans-serif;
			background-color: #f0f8ff; /* Azul claro */
			margin: 0;
			padding: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100vh;
			text-align: center;
		}

		h1 {
			font-size: 32px;
			color: #007BFF; /* Azul fuerte */
			margin-bottom: 20px;
			font-weight: bold;
		}

		a {
			text-decoration: none;
			padding: 12px 24px;
			background-color: #007BFF; /* Azul fuerte */
			color: white;
			font-size: 18px;
			border-radius: 8px;
			box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
			transition: background-color 0.3s ease, transform 0.3s ease;
		}

		a:hover {
			background-color: #0056b3; /* Azul más oscuro */
			transform: scale(1.05);
		}
	</style>
</head>
<body>
	<h1>Todo Funcionó Correctamente!</h1>
	<a href="/addDates">REGRESAR</a>
</body>
</html>