<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<h1>Registro de datos</h1>
	<form action="/validar" method="post">
		Nombre:
		<input type="text" name="name" id="name"> <br><br>
		Salario:
		<input type="text" name="salary" id="salary"> <br><br>
		<input type="submit" value="Registrar">
		<button ><a href="/">Regresar</a></button>
	</form>
</body>
</html>