<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro de Datos</title>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <div class="container">
      <h1>Registro de Datos prueba</h1>

      <form action="/start" method="post">
        <button type="submit" class="btn">Start</button>
      </form>

      <form action="/validar" method="post">
        <label for="name">Nombre:</label>
        <input type="text" name="name" id="name" required />
        <button type="submit" class="btn">Registrar</button>
      </form>

      <form action="/commit" method="post">
        <button type="submit" class="btn">Commit</button>
      </form>

      <form action="/rollback" method="post">
        <button type="submit" class="btn">Cancelar</button>
      </form>
      <a href="/" class="back-link">Regresar</a>
    </div>
    <h2>Control de aislamiento</h2>

<select id="level">
  <option>READ UNCOMMITTED</option>
  <option>READ COMMITTED</option>
  <option>REPEATABLE READ</option>
  <option>SERIALIZABLE</option>
</select>
<button onclick="setLevel()">Cambiar</button>
<button onclick="getLevel()">Ver actual</button>
<table border="1" id="dataTable">
    <thead></thead>
    <tbody></tbody>
</table>

<script>
function renderTable(rows) {
    const tableHead = document.querySelector("datos");
    const tableBody = document.querySelector("id, name");

    // Limpiar contenido anterior
    tableHead.innerHTML = "";
    tableBody.innerHTML = "";

    if (rows.length > 0) {
        // Encabezados
        const headers = Object.keys(rows[0]);
        const headRow = document.createElement("tr");
        headers.forEach(h => {
            const th = document.createElement("th");
            th.textContent = h;
            headRow.appendChild(th);
        });
        tableHead.appendChild(headRow);

        // Filas de datos
        rows.forEach(row => {
            const tr = document.createElement("tr");
            headers.forEach(h => {
                const td = document.createElement("td");
                td.textContent = row[h];
                tr.appendChild(td);
            });
            tableBody.appendChild(tr);
        });
    } else {
        const tr = document.createElement("tr");
        const td = document.createElement("td");
        td.colSpan = 100;
        td.textContent = "No hay datos";
        tr.appendChild(td);
        tableBody.appendChild(tr);
    }
}
</script>

<script>
function setLevel() {
    fetch('/isolation', {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({ level: document.getElementById('level').value })
    }).then(r=>r.json()).then(console.log);
}


function getLevel() {
    fetch('/isolation')
        .then(r=>r.json())
        .then(console.log);
}
</script>
  </body>
</html>
