body{
	background-color: rgb(240, 240, 240);	
}

ul{
	list-style-type: none;
  margin: 0;
  padding: 0;
}

div{
	width: 50px;  
	height: 40px; 
	background-color: lightblue; 
	border: 2px solid black;
	border-radius: 10px; 
	box-shadow: 5px 5px 5px gray;
	padding: 45px; 
	text-align: center;
	margin:10px;
}

div a{
	text-decoration: none;
  color: black;
}

.div-center{
	width: auto;
	height: auto;
	padding: auto;
	background-color: red;
}
